.hdbg {
        color: rgb(31,119,180);
        font-size:20px;
        border:none;
}

.container-fluid {
        padding-top: 70px;
        padding-bottom: 130px;
}

.navbar-default {
        background-color:rgb(199,199,199);
        border:none
        padding-top:0px;
        padding-bottom:0px;
}

.navbar-default .navbar-nav > li > a {
        color:rgb(0,0,0);
        font-size:18px;
        text-align: right;
    /*        border: 1px solid red;*/
}
.navbar-default .navbar-header > a {
        color: rgb(3,3,3);
        font-size: 30px;
        font-weight: 55;
        padding-bottom: 10px;
}

.intro {padding-top: 100px;}

.contact-me {background-color: rgb(199,199,199);
             padding: 10 0 50 0;}
.contact-me > p {font-size: 18;}
.contact-me > a {font-size: 24;}
.contact-link {
                display: inline-block;
                height: 50px;
}

.footer { 
        background-color: rgb(199,199,199);
        padding: 30 0 30 0;
        }

.homeicon {
            font-size: 32;
}


/*Research Page*/
#research-img { 
                padding 100px 5px 100px 5px;
}


.carousel-inner > .item > img {
                            width: 60%;
                            margin: auto;
}

.contactme { 
        padding-top: 100px;
        padding-bottom: 100px;
}

.circle {
    background: rgb(91,91,91);
    border-radius: 50px;
    color:white;
    display: inline-block;
    float: left;
    font-size:55px;
    height:100px;
    width:100px;
}

#social-media {
    margin: 0 auto;
    width: 336px;
}
